@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main">
        @*<div class="top-row px-4">
            <div>提瓦特血统检测</div>
            <a href="https://github.com/Scighost/GenshinBlood" target="_blank" class="ml-md-auto">Github</a>
        </div>*@

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
